docker/mysql/data/*
!.gitkeep

# Ignore everything in the storage directory except .gitignore
#/storage/*
#/storage/app/*
#/storage/framework/*
#/storage/logs/*

# Ignore everything in the storage directory
/storage/*

# Allow specific directories or files
!/storage/app/public/
!/storage/app/public/*
!/storage/logs/laravel.log
!/storage/framework/cache/data/
